ion-content{
  align-items: center;
  text-align: center;
  align-self: center;
  align-content: center;
}

ion-img{
  align-items: center;
  text-align: center;
  align-self: center;
  align-content: center;
  width: 60%;
  border-radius: 100%;
  margin: 25px auto 0 auto;
}
 .circle{
   width: 60%;
   border-radius: 100%;
   margin: 25px auto 0 auto;
 }
 img{
  .circle{
    width: 60%;
    border-radius: 100%;
    margin: 25px auto 0 auto;
  }
 }


  ion-avatar {  
    height: 30%;  
    width: 80%;
    border-radius: 100%;
    margin: 25px auto 0 auto;
}