div{
  margin-top: 1px;
  padding-left: 10%;
  h2{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 1px;
    padding-bottom: 5px;
  }
  p{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 1px;
    padding-bottom: 5px;
  }
}