<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-list>
    <ion-item button (click)="showProdutos()" *ngFor="let item of items">
      <ion-thumbnail slot="start">
        <img src="{{bucketUrl}}/cat{{item.id}}.jpg">
      </ion-thumbnail>
      <ion-label>{{item.nome}}</ion-label>
      <!-- <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
        View
      </ion-button> -->
    </ion-item>
  </ion-list>
</ion-content>
