<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons (click)="back()" slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button ion-button *ngFor="let item of items" (click)="showDetail(item.id)">
      <ion-thumbnail slot="start">
        <img [src]="item.imageUrl || 'assets/img/prod.jpg'">
      </ion-thumbnail>
      <div>
        <h2>{{item.nome}}</h2>
        <p>{{item.preco | currency}}</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>




